*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 200;
}

a{
    text-decoration: none;
    color: var(--text-color-dark);
}