.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.2rem;
    background-color: var(--icon-background);
    box-shadow: 0 4px 4px #0004;
}

.social-icon:hover{
    background-color: var(--primary-color);
    transform: translateY(-15%);
    transition: 0.3s;
    color: var(--text-color-light);
}